# testing notebooks
notebooks/testing_ignore/

# data is to be ignored
data/

# same with results 
results/clim_outputs/
results/metrics/
results/model_wghts/

## additional files
.DS_Store
.Rhistory
.RData
.here
**/__pycache__/
tests/_temp/
.coverage
.coverage.*
profile.out